<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="nHomeIT.Tests.EmployeeSystem.Core.Properties.Settings.ConnectionString"
            connectionString="Data Source=PANCAKES\SQLEXPRESS;Initial Catalog=&quot;n-Home IT Project&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="nHomeIT.Tests.EmployeeSystem.Core.Properties.Settings.ConnectionString1"
            connectionString="Data Source=PANCAKES\SQLEXPRESS;Initial Catalog=&quot;n-Home IT Project&quot;;Integrated Security=True" />
    </connectionStrings>
</configuration>